.primary {
  color: orange;
}

.jumbotron {
  background-image: url(cookingPic.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.smaller-input {
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 20px;
}

.questions {
  padding-left: 100px;
  padding-right: 100px;
}

.link {
  color: inherit;
}
